</style>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">


<body class="background2">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Website</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Start</a></li>        
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/signup"><span class="fas fa-user-circle"></span> Register</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/user/login"> Login<span class="caret" class="glyphicon glyphicon-log-in"></span></a>
          <ul class="dropdown-menu nav navbar-nav navbar-right navbar-inverse" >
              <li><a href="/user/login"> <i class="fas fa-user"></i>   User</a></li> 
            <li><a href="#"><i class="fab fa-facebook-square"></i>   Facebook</a></li>
            <li><a href="/auth/google"><i class="fab fa-google"></i>   Google</a></li>
          </ul>
        </li>
        <li><a href="/auth/logout" metho><span class="fas fa-sign-out-alt"></span> Logout</a></li>
      </ul>
    </div>
  </nav>


<div class="container">
    <div class="row">
      <div class="col-sm-6 centered-form">
            <div>
                <h2>Sign up and make the most of Blogmapper!</h2>
            </div>
        <form action="/user/signup" method="post">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control">
          </div>
  
          <button type="submit">Signup</button>
        </form>
      </div>
    </div>
      <p class="account-message">
            Do you already have an account?
            <a href="/user/login">Login</a>
        </p>
  </div>
</body>