<html></html>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Website</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Start</a></li>        
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/signup"><span class="fas fa-user-circle"></span> Register</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/user/login"> Login<span class="caret" class="glyphicon glyphicon-log-in"></span></a>
              <ul class="dropdown-menu nav navbar-nav navbar-right navbar-inverse" >
                  <li><a href="/user/login"> <i class="fas fa-user"></i>   User</a></li> 
                <li><a href="#"><i class="fab fa-facebook-square"></i>   Facebook</a></li>
                <li><a href="/auth/google"><i class="fab fa-google"></i>   Google</a></li>
              </ul>
            </li>
            <li><a href="/auth/logout" metho><span class="fas fa-sign-out-alt"></span> Logout</a></li>
          </ul>
        </div>
      </nav>
      
<div id="background-image" >
  <div id="logo"></div>
  <h4 class="h4" >Search</h4>
  <input style="width:500px" type="text" id="findBeach"/>
  <div id="map"></div>
</div>
  <section class="articles">
     <div class="imagesLeft">

    </div> 
    <div class="articlesPropios box effect5">
      <h2 class="h2_index">Our Articles</h2>
    </div>
    <div>
      <div>
        <ul>
        </ul>
      </div>
    </div>
    <div class="BlogsExternos box effect5">
      <h2 class="h2_index">External Blogs</h2>
    </div>
     <div class="imagesRight">
      
    </div> 
  </section>
  <!-- <footer>
    <div>
      Pie de Pagina
    </div>
  </footer> -->
</html>