<body class="background2">
<div class="container">
        <div class="row">
          <div class="col-sm-6 centered-form">
            <form action="/articles/new" method="post"  enctype="multipart/form-data">
              <div class="form-group">
                <label for="title">Title of new article</label>
                <input type="text" name="title" class="form-control">
              </div>
            </form>
          </div>
        </div>
      </div>
</body>