body {
  padding-top:50px;
  background-color: whitesmoke ; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
  background-color: #7db6d8;

}
#background-image{
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #7db6d8;
}

#logo{
  background-image: url("../images/logo.png");
  position: fixed;
  width:213px;
  height: 126px;
  opacity: 0.7;
  z-index: 1;
}

h1{
  margin: 0;
  padding: 0;
  position: absolute;
  top:10px;
  left: 10px;
}
.h4{
  font-size:30px; 
  height: 20px;
  margin: 0;
  padding: 0;
  position: absolute;
  top:60px;
  left: 300px;
}
.h2_index{
  text-align: center;
}
.h2_articles{
  padding-left: 30px;
  color: #423517;
  
}
#map{
  position: absolute;
  top:100px; 
  left: 250px;
  width: 70%;
  height: 250px;

}

#findBeach{
  position: absolute;
  top:70px; 
  left: 380px;
  border-radius: 5%;
}
#findBeach2{
border-radius: 5%;
margin-left: 5px;
margin-bottom: 5px;
}
a {
  color: #00B7FF;
}


.articles{
  position: relative;
  width: 100%;
  height: 950px;
  background-color: #7db6d8;

}
.imagesLeft{
  width: 10%;
  height: 600px;
  float: left;
}
.articlesPropios{
  width: 40%;
  height: 600px;
  float: left;  
}
.BlogsExternos{
  width: 40%;
  height: 300px;
  float: left;
}
.imagesRight{
  width: 10%;
  height: 600px;
  float: left;

}
.navbar-inverse{
  position: fixed;
}
.barNav{
  display: block;
  text-align: center;
}
  .box {
  
  border-radius: 5px;
  width:40%;
  height:600px;
  background:lightblue;
  margin-top: 10px;
  margin-left:5px;
  border-style: solid;
  border-width: 10px;
  border: black;
  }
  /*==================================================
  * Efecto 5
  * ===============================================*/
  .effect5
  {
  position: relative;
  }
  .effect5:before, .effect5:after
  {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
  }
  .effect5:after
  {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
  }

.login-message{
  padding-top: 15px
}

.account-message{
  padding-top: 15px
}

